---
import HorizontalScrollLayout from '../../layouts/HorizontalScrollLayout.astro';
---

<HorizontalScrollLayout title="页面标题示例">
    <section id="one">内容一</section>
    <section id="two">内容二</section>
    <script>console.log("dcfghj")</script>
</HorizontalScrollLayout>
