---
import HorizontalScrollLayout from '../../layouts/HorizontalScrollLayout.astro';

import Studio from '../display/mainIslands/Studio.astro';
---
<HorizontalScrollLayout title="页面标题示例">
    475611475189465
    <section id="one">
        <Studio />
    </section>
    <section id="two">
        <h2>内容二</h2>
        <p>这是第二部分的内容。</p>
    </section>
</HorizontalScrollLayout>
