---
import DarkOrNotWithHorizontalScrollLayout from '../../layouts/DarkOrNotWithHorizontalScrollLayout.astro';

import DesignDepartmentIsland from '../display/mainIslands/DesignDepartmentIsland.astro';
---
<DarkOrNotWithHorizontalScrollLayout title="河南大学网站工作室部门介绍">
    <section id="one">
        <DesignDepartmentIsland />
    </section>
    <section id="two">

        <DesignDepartmentIsland />
    </section>
    <section id="t">
        <DesignDepartmentIsland />
        <!--<NewMediaCentreIsland client:load/>-->
    </section>
    <section id="3">

        <DesignDepartmentIsland />
    </section>
    <section id="wo">

        <DesignDepartmentIsland />
    </section>
</DarkOrNotWithHorizontalScrollLayout>
