body{
    display: grid;
    place-items: center;  /* 同时水平和垂直居中 */
    height: 100vh;
    overflow: hidden;
}
main{
    position: relative;//给result提供定位点
    display: flex;
    justify-content: center;
}