---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/plastic-blue-trans-wswd.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<a href="/admin/login">login</a>
		<a href="/display/main">display</a>
		<a href="/auth/login">auth login</a>
		<a href="/display/studio">studio</a>
		<a href="/display/office">office</a>
		<a href="/display/web.html">web</a>
		<a href="/display/newMedia.html">newMedia</a>
		<a href="/display/repair">repair</a>
		<a href="/display/video">video</a>
	</body>
</html>
