---
const themeCookie = Astro.cookies.get('theme');
const themeValue = themeCookie?.value;
const isDark = themeValue === 'dark';
const title = Astro.props.title || '河南大学网站工作室';
---

<html lang="zh" class="dark">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/plain_balck_trans_big.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <slot name="head" />
</head>
<body>
<slot />
</body>
</html>
