---
const themeCookie = Astro.cookies.get('theme');
const themeValue = themeCookie?.value;
const isDark = themeValue === 'dark';
const { title = '河南大学网站工作室' } = Astro.props;
import "/src/styles/global.css";
//黑白logo引入
import { logoMap } from "../utils/logoMap"
const logoSrc = logoMap[isDark ? 'dark' : 'light'];
//

---

<html lang="zh" class={isDark ? 'dark' : ''} data-theme={isDark ? 'dark' : 'light'}>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href={logoSrc} />
    <!--<slot name="head" />-->
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            //scroll-behavior: auto;
            //overflow-y: scroll;
            scroll-padding-top: 0;
            touch-action: pan-y;
            /* 隐藏滚动条 */
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* IE 10+ */
        }
        body::-webkit-scrollbar {
            display: none; /* Chrome, Safari */
        }
        .is-desktop{
            //scroll-snap-type: y proximity;
        }
        .is-mobile{
            //scroll-snap-type: y mandatory;
        }
    </style>
</head>
<body>
<slot />
</body>
</html>
